//
// Layout
//
$rem: 16px; // = 1rem
$one: 0.0625rem; // = 1rem / 16 = 1px

$page-width: 800 * $one;
$overhang-width: 100 * $one;

$wide-narrow-threshold: 1100px;
$tall-short-threshold: 700px;

//
// Fonts
//
$display-font-family: futura-pt,
  'Helvetica Neue', helvetica, arial, sans-serif;
$text-font-family: petersburg-web,
  'Times New Roman', times, serif;

$light-font-weight: 300;
$regular-font-weight: 400;

$text-font-size: 1.5rem;
$text-line-height: 2rem;

$header-font-size: 5rem;
$header-line-height: 8rem;

$compressed-header-font-size: 2.5em;
$compressed-header-line-height: 4rem;

$large-header-font-size: 6.875rem; // @ Home
$large-header-line-height: 8rem;

$option-font-size: 1.75rem;
$option-line-height: 2.5rem;

$large-option-font-size: 3.75rem; // @ Home
$large-option-line-height: 4rem;

$compressed-large-option-font-size: 2.875rem; // @ Home
$compressed-large-option-line-height: 3.25rem;

$section-header-font-size: 4.375rem;
$section-header-line-height: 6rem;

$subsection-header-font-size: 1.875rem;
$subsection-line-height: $text-line-height;

$project-header-font-size: 1.75rem; // @ Home
$project-line-height: $text-line-height;

$project-motto-font-size: 1.25rem; // @ Home

$post-header-font-size: 2.5rem;
$post-header-line-height: 3rem;

$arrow-font-size: 2.25rem;
$arrow-line-height: 2rem;

//
// Portfolio @ Home
//
$project-thumbnail-size: 300 * $one;
$project-size: ceil($project-thumbnail-size);
$project-image-width: 1100 * $one;

//
// Links
//
$border-width: $one;
