$spec-pos-1: 11.24% / 2;
$spec-pos-2: 24.16% / 2;
$spec-pos-3: 39.33% / 2;
$spec-pos-4: 78.65% / 2;
$spec-pos-5: 81.46% / 2;
$spec-pos-6: 100.00% / 2;

$spec-col-1: #f0c83b;
$spec-col-2: #f1563c;
$spec-col-3: #c34b9b;
$spec-col-4: #00b3c1;
$spec-col-5: #00b36c;
$spec-col-6: #00b3c1;

@mixin spectrum {
  background: -webkit-linear-gradient(left,
    $spec-col-1 $spec-pos-1,
    $spec-col-2 $spec-pos-2,
    $spec-col-3 $spec-pos-3,
    $spec-col-4 $spec-pos-4,
    $spec-col-5 $spec-pos-5,
    $spec-col-6 $spec-pos-6,
    $spec-col-5 100% - $spec-pos-5,
    $spec-col-4 100% - $spec-pos-4,
    $spec-col-3 100% - $spec-pos-3,
    $spec-col-2 100% - $spec-pos-2,
    $spec-col-1 100% - $spec-pos-1);
}

@mixin grayscale-on {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
}

@mixin grayscale-off {
  filter: none;
  -webkit-filter: grayscale(0);
}

@mixin open-type-features {
  -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
}

@mixin hyphenation {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin rotation($angle, $origin) {
  transform: rotate($angle);
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);

  transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
}
