$spec-pos-1: 0%;
$spec-pos-2: 80%;
$spec-pos-3: 100%;

$spec-col-1: #b8e986;
$spec-col-2: #d4e57e;
$spec-col-3: #b8e986;

@mixin spectrum {
  background: -webkit-linear-gradient(left,
    $spec-col-1 $spec-pos-1,
    $spec-col-2 $spec-pos-2,
    $spec-col-3 $spec-pos-3);
}

@mixin grayscale-on {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
}

@mixin grayscale-off {
  filter: none;
  -webkit-filter: grayscale(0);
}

@mixin open-type-features {
  -moz-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
}

@mixin hyphenation {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin rotation($angle, $origin) {
  transform: rotate($angle);
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);

  transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
}
