$framed-project-size: ($project-size + 2rem);
$project-extra-space: $project-size - $project-thumbnail-size;

@mixin apply-when-extra-wide {
  @media screen and (min-width: tune(4 * $framed-project-size, 40)) { @content; }
}

@mixin apply-when-extra-narrow {
  @media screen and (max-width: tune(3 * $framed-project-size, 40)) { @content; }
}

//
// Header
//
header h1 {
  font-size: $large-header-font-size;
  line-height: $large-header-line-height;

  @include balance;
  padding-top: 2rem;
  padding-bottom: 0;
}

//
// Navigation
//
nav {
  width: auto;

  .wrapper {
    @include balance;
    padding-top: tune(3rem, -6);
    padding-bottom: tune(3rem, 6);
  }

  .large-options {
    width: $page-width;
    display: inline-block;

    a {
      font-family: $display-font-family;
      font-size: $large-option-font-size;
      line-height: $large-option-line-height;
      font-weight: $regular-font-weight;
      text-transform: lowercase;
    }

    a:hover {
      border-bottom-width: 0;
    }

    li:nth-child(2) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    @include apply-when-wide {
      margin-left: -$overhang-width;

      li:nth-child(2) {
        margin-left: $overhang-width;
      }

      li:nth-child(3) {
        margin-left: 2 * $overhang-width;
      }
    }
  }

  .options {
    top: 6rem;
  }
}

@include apply-when-tall {
  #menu.compressed {
    .wrapper {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .large-options {
      width: auto;
      margin-left: 0;

      li {
        display: inline;
        margin-left: 0;
        margin-right: 1.4em;
      }

      a {
        font-size: $compressed-large-option-font-size;
        line-height: $compressed-large-option-line-height;
      }

      padding-bottom: tune(0rem, 12);
    }

    .options {
      top: tune(2rem, -4);
    }
  }
}

//
// Sections
//
section#introduction {
  margin-top: 5rem;
  margin-bottom: 5rem;

  p {
    margin: 0;
  }
}

section#services {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

section#portfolio {
  margin-top: 0;
  text-align: center;
  width: tune(3 * $framed-project-size, 20);

  @include apply-when-extra-narrow {
    width: tune(2 * $framed-project-size, 20);
  }

  @include apply-when-extra-wide {
    width: tune(4 * $framed-project-size, 20);
  }

  .project {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;

    width: $project-size;
    display: inline-block;

    img {
      padding-top: 1rem;

      padding-bottom: $project-extra-space;
      padding-left: $project-extra-space / 2;
      padding-right: $project-extra-space / 2;
    }

    a, a:hover {
      display: block;
      border: 0;
      line-height: 0;
    }

    a {
      @include grayscale-on;
      transition: 0.1s;

      @include apply-when-touch {
        @include grayscale-off;
      }
    }

    a:hover {
      @include grayscale-off;
    }

    h3 {
      font-size: $project-header-font-size;
      line-height: $project-line-height;
    }

    p {
      font-size: $project-motto-font-size;
      font-weight: $light-font-weight;
      white-space: nowrap;
      margin: 0;
    }
  }
}
