$framed-project-size: ($project-size + 2 * $half-rhythm);
$project-extra-space: $project-size - $project-thumbnail-size;

@mixin apply-when-extra-wide {
  @media screen and (min-width: fix(4 * $framed-project-size, 40)) { @content; }
}

@mixin apply-when-extra-narrow {
  @media screen and (max-width: fix(3 * $framed-project-size, 40)) { @content; }
}

//
// Header
//
header h1 {
  font-size: 110px;
  line-height: 4 * $rhythm;

  @include balance;
  padding-top: $rhythm;
  padding-bottom: 0;
}

//
// Navigation
//
nav {
  width: auto;

  .wrapper {
    @include balance;
    padding-top: fix(3 * $half-rhythm, -6);
    padding-bottom: fix(3 * $half-rhythm, 6);
  }

  .primary {
    width: $page-width;
    display: inline-block;

    a {
      font-size: 60px;
      line-height: $double-rhythm;
      font-weight: $light-font-weight;
    }

    li:nth-child(2) {
      margin-top: $half-rhythm;
      margin-bottom: $half-rhythm;
    }

    @include apply-when-wide {
      margin-left: -100px;

      li:nth-child(2) {
        margin-left: 100px;
      }

      li:nth-child(3) {
        margin-left: 200px;
      }
    }
  }

  .secondary {
    top: 3 * $rhythm;
  }
}

@include apply-when-tall {
  #menu.compressed {
    .wrapper {
      padding-top: $half-rhythm;
      padding-bottom: $half-rhythm;
    }

    .primary {
      width: auto;
      margin-left: 0;

      li {
        display: inline;
        margin-left: 0;
        margin-right: 1.4em;
      }

      a {
        font-size: 46px;
        line-height: fix($double-rhythm, -12);
      }

      padding-bottom: fix(0px, 12);
    }

    .secondary {
      top: fix($rhythm, -4);
    }
  }
}

//
// Sections
//
section#introduction {
  margin-top: 5 * $half-rhythm;
  margin-bottom: 5 * $half-rhythm;

  p {
    margin: 0;
  }
}

section#services {
  margin-top: 3 * $rhythm;
  margin-bottom: 6 * $half-rhythm;
}

section#portfolio {
  margin-top: 0;
  text-align: center;
  width: fix(3 * $framed-project-size, 20);

  @include apply-when-extra-narrow {
    width: fix(2 * $framed-project-size, 20);
  }

  @include apply-when-extra-wide {
    width: fix(4 * $framed-project-size, 20);
  }

  a, a:hover {
    display: block;
    border: 0;
    line-height: 0;
  }

  .project {
    margin-left: $half-rhythm;
    margin-right: $half-rhythm;
    margin-bottom: 5 * $half-rhythm;

    width: $project-size;
    display: inline-block;

    img {
      padding-top: $half-rhythm;

      padding-bottom: $project-extra-space;
      padding-left: $project-extra-space / 2;
      padding-right: $project-extra-space / 2;
    }

    @include grayscale-on;
    transition: 0.2s;

    &:hover {
      @include grayscale-off;
    }

    h3 {
      font-size: 28px;
      line-height: $rhythm;
    }

    p {
      font-family: $condensed-font-family;
      font-size: 20px;
      font-weight: $light-font-weight;
      white-space: nowrap;
      margin: 0;
    }
  }
}
