section {
  h2 {
    font-size: $post-header-font-size;
    line-height: $post-header-line-height;
    text-align: left;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p.meta {
    font-style: italic;
    margin-bottom: $text-line-height;
  }

  p.description {
    margin-bottom: $text-line-height;
  }
}

form {
  textarea.title {
    font-family: $display-font-family;
    font-size: $post-header-font-size;
    line-height: $post-header-line-height;
    height: 2 * 3rem;
    overflow: hidden;
  }

  textarea.description {
    height: 5 * $text-line-height;
  }

  input.author, input.date {
    font-style: italic;
  }

  textarea.content {
    height: 20 * $text-line-height;
  }
}
