section {
  h2 {
    font-size: 50px;
    line-height: $double-rhythm;
    margin-top: $double-rhythm;
    margin-bottom: 0;
    text-align: left;
  }

  h2:first-of-type {
    margin-top: 3 * $rhythm;
  }

  p {
    margin-bottom: $half-rhythm;
  }

  p.meta {
    font-style: italic;
    margin-top: $half-rhythm;
    margin-bottom: $half-rhythm;
  }

  ul {
    @include hyphenation;
  }

  li {
    font-size: 24px;
    line-height: $rhythm;
    font-weight: $light-font-weight;
    margin-left: 2em;

    list-style-type: square;
    list-style-position: outside;
  }
}

&.index section {
  p.actions {
    text-align: right;
  }
}

&.show section {
  h2 {
    margin-top: $rhythm;
  }

  h3 {
    font-size: 30px;
    line-height: $rhythm;
    margin-top: 3 * $half-rhythm;
    margin-bottom: $half-rhythm;
  }

  p.description {
    font-style: italic;
    margin-bottom: 3 * $half-rhythm;
  }

  li {
    margin-bottom: $half-rhythm;
  }

  p strong {
    font-weight: $regular-font-weight;
  }
}
