section {
  h2 {
    font-size: 50px;
    line-height: 55px;
    text-align: left;
  }

  p.meta {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  ul {
    @include hyphenation;
  }

  li {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 2em;

    list-style-type: square;
    list-style-position: outside;
  }
}

&.index section {
  p.actions {
    margin-top: 18px;
    text-align: right;
  }
}

&.show section {
  h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }

  p.description {
    font-style: italic;
    margin-bottom: 50px;
  }

  p:not(.actions), li {
    margin-top: 18px;
  }

  p strong {
    font-weight: 400;
  }

  h3 + p {
    margin-top: 10px;
  }
}
