& {
  overflow: hidden;
}

section {
  h3 {
    margin-top: 2 * $text-line-height;
    margin-bottom: $text-line-height;
    text-align: center;
  }

  p {
    position: relative;
  }

  img {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    max-width: $project-image-width;

    @include apply-when-narrow {
      max-width: $page-width;
    }
  }
}

form {
  input.title {
    font-family: $display-font-family;
    font-size: $project-header-font-size;
  }

  input.motto {
    font-size: $project-motto-font-size;
  }

  input.title, input.motto {
    width: $project-size;
    display: block;
    text-align: center;
  }

  textarea.content {
    height: 20 * $text-line-height;
  }
}
