&.home header h1 {
  font-size: tune($large-header-font-size, -10);
}

&:not(.home) {
  header h1 {
    font-size: tune($header-font-size, -10);
  }

  nav .options {
    @include apply-when-narrow {
      right: -$overhang-width / 2;
    }
  }
}

&.manifesto section h2 {
  font-size: tune($section-header-font-size, -10);
}
