@import 'reset';
@import 'extensions';
@import 'constants';

//
// Layout
//
@mixin balance {
  position: relative;
  width: $page-width;
  margin: 0 auto;
}

@mixin apply-when-wide {
  @media screen and (min-width: $wide-narrow-threshold) { @content; }
}

@mixin apply-when-narrow {
  @media screen and (max-width: $wide-narrow-threshold) { @content; }
}

@mixin apply-when-tall {
  @media screen and (min-height: $tall-short-threshold) { @content; }
}

@mixin apply-when-touch {
  @media only screen and (max-device-width: 480px),
    only screen and (max-device-width: 1024px) { @content; }
}

@function tune($value, $times) {
  @return $value + $times * $one;
}

@mixin hack {
  @content;
}

//
// Defaults
//
* {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  @include open-type-features;
}

body {
  min-width: $page-width + 2 * $text-font-size;
  font-family: $text-font-family;
  font-size: $rem;
  color: $text-color;
}

a, button {
  border-style: dashed;
  border-bottom-width: $border-width;

  &:hover {
    border-style: solid;
    border-bottom-width: $border-width;
  }
}

h1, h2, h3 {
  font-family: $display-font-family;

  a {
    font-family: inherit;
    border-bottom-width: 0;
  }
}

h1, h2 {
  font-weight: $light-font-weight;
}

h3 {
  font-weight: $regular-font-weight;
}

p {
  font-size: $text-font-size;
  line-height: $text-line-height;
}

//
// Header
//
article header h1 {
  font-size: $header-font-size;
  line-height: $header-line-height;
  padding-top: tune(2rem, -12);
  padding-bottom: tune(2rem, 12);

  em {
    font-size: 2rem;
    line-height: 0;
    margin-left: -0.25em;
    text-transform: lowercase;
  }
}

//
// Navigation
//
#menu-placeholder {
  background: $background-color;
  display: none;
}

#totop {
  font-size: $arrow-font-size;
  line-height: $arrow-line-height;
  display: none;
  position: absolute;
  left: -$overhang-width;
  top: tune(2rem, -7);
}

article #menu {
  color: $menu-text-color;
  background: $menu-background-color;
  @include spectrum;
}

article nav {
  @include balance;

  a {
    border-bottom-width: 0;
  }

  h1 a:hover {
    border-bottom-width: $border-width;
  }

  .options {
    position: absolute;
    right: -$overhang-width;
    top: 2rem;

    @include apply-when-narrow {
      right: 0;
    }

    a {
      font-family: $display-font-family;
      font-size: $option-font-size;
      line-height: $option-line-height;
      font-weight: $light-font-weight;
      text-transform: lowercase;

      @include apply-when-touch {
        font-weight: $light-font-weight;
      }
    }

    a:hover {
      border-bottom-width: $border-width;
    }
  }

  @include apply-when-touch {
    h1 a, .options a {
      border-bottom-width: $border-width;
    }
  }
}

@include apply-when-tall {
  #menu-placeholder.active {
    display: block;
  }

  article #menu.compressed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;

    h1 {
      font-size: $compressed-header-font-size;
      line-height: $compressed-header-line-height;

      padding-top: tune(1rem, -3);
      padding-bottom: tune(1rem, 3);

      em {
        margin-left: 0;
      }
    }

    #totop {
      display: block;

      @include apply-when-narrow {
        left: -$overhang-width / 2;
      }
    }

    .options {
      top: tune(2rem, -6);

      li {
        display: inline;
        margin-left: 1em;
      }

      li.negligible {
        display: none;
      }
    }
  }
}

//
// Sections
//
article section {
  @include balance;
  margin-bottom: 8rem;

  &:first-of-type {
    margin-top: 6rem;
  }

  h2 {
    font-size: $section-header-font-size;
    line-height: $section-header-line-height;
    text-align: center;

    margin-top: 5rem;
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  h3 {
    font-size: $subsection-header-font-size;
    line-height: $subsection-line-height;
  }

  p, ol, ul {
    margin-bottom: $text-line-height;
    @include hyphenation;

    em {
      font-style: italic;
    }

    strong {
      white-space: nowrap;
    }
  }

  li {
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $light-font-weight;
    margin-left: 2em;
    list-style-position: outside;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: square;
  }

  p.actions {
    padding-bottom: 1rem - $border-width; // To account for the border
    margin-bottom: 1rem;

    a {
      white-space: nowrap;
      display: block;
      float: left;
    }

    a.right {
      float: right;
    }

    overflow: hidden;
  }
}

//
// Footer
//
footer {
  color: $footer-text-color;
  background: $footer-background-color;

  padding: 4rem 0 2rem 0;

  p {
    @include apply-when-touch {
      font-weight: $light-font-weight;
    }
  }

  a {
    border-bottom-width: 0;

    @include apply-when-touch {
      border-bottom-width: $border-width;
    }
  }

  a:hover {
    border-bottom-width: $border-width;
  }

  .wrapper {
    @include balance;
  }

  #address {
    position: relative;

    address {
      padding-top: 4rem;
      white-space: nowrap;

      p:first-of-type {
        padding-bottom: 1rem;
      }
    }

    address:first-of-type {
      margin-left: 5%;
      width: 45%;
      float: left;
    }

    address:last-of-type {
      margin-left: 55%;
    }
  }

  #copyright {
    text-align: center;
  }

  svg path {
    fill: $footer-text-color;
  }
}

//
// Forms
//
form {
  margin-top: 2rem;
  @include hack {
    line-height: 0; // To eliminate extra space
  }

  input, textarea, button {
    font-family: $text-font-family;
    font-weight: $light-font-weight;
    font-size: $text-font-size;
    line-height: $text-line-height;
  }

  input, textarea {
    background: #fafafa;
    margin-bottom: 1rem;

    width: 100%;

    @include placeholder {
      font-style: italic;
      color: #ccc;
    }
  }

  .field_with_errors {
    input, textarea {
      color: #ff9070;

      @include placeholder {
        color: #ff9070;
      }
    }
  }

  textarea {
    resize: vertical;
  }

  button {
    cursor: pointer;
    background: none;
    width: auto;
    margin-top: 1rem;
    margin-right: 1em;
    @include hack {
      margin-bottom: -$border-width; // To keep the vertical rhythm
    }
  }
}

//
// Decorations
//
.dingbat {
  @include hack {
    line-height: 0; // To eliminate extra space
  }
  text-align: center;
  margin: 5rem;
  svg {
    height: 6rem;
    width: 6rem;
  }
}

//
// Page-specific styles
//
article.home { @import 'home'; }
article.posts { @import 'posts'; }
article.projects { @import 'projects'; }

//
// Administration
//
#administration {
  p {
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    line-height: 2em;
  }

  transform-origin: 0em 0em;
  @include rotation(-90deg, right bottom);

  position: fixed;
  right: 0;
  top: 40%;
  z-index: 10;
}
