@import 'reset';
@import 'extensions';
@import 'constants';

//
// Layout
//
@mixin balance {
  position: relative;
  width: $page-width;
  margin: 0 auto;
}

@mixin apply-when-wide {
  @media screen and (min-width: 1101px) { @content; }
}

@mixin apply-when-narrow {
  @media screen and (max-width: 1100px) { @content; }
}

@mixin apply-when-tall {
  @media screen and (min-height: 701px) { @content; }
}

@mixin apply-when-short {
  @media screen and (max-height: 700px) { @content; }
}

@function fix($value, $offset) {
  @return $value + $offset;
}

@mixin hack {
  @content;
}

//
// Defaults
//
body {
  min-width: $page-width;
  font-family: $text-font-family;
  text-rendering: optimizeLegibility;
  @include ligatures;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a, input[type=submit] {
  font-family: $alternative-font-family;

  border-style: dashed;
  border-bottom-width: 1px;

  &:hover {
    border-style: solid;
    border-bottom-width: 1px;
  }
}

h1, h2, h3 {
  font-family: $display-font-family;

  a {
    font-family: inherit;
    border-bottom-width: 0px;
  }
}

p {
  font-size: 24px;
  line-height: $rhythm;
  font-weight: $light-font-weight;
}

//
// Header
//
article header h1 {
  font-size: 80px;
  line-height: 4 * $rhythm;
  padding-top: fix($rhythm, -12);
  padding-bottom: fix($rhythm, 12);

  em {
    font-size: $rhythm;
    line-height: 0;
    margin-left: -8px;
    text-transform: lowercase;
  }
}

//
// Navigation
//
#menu-placeholder {
  background: #000;
  display: none;
}

#totop {
  font-size: 36px;
  line-height: $rhythm;
  display: none;
  position: absolute;
  left: -100px;
  top: fix($rhythm, -7);
}

article nav {
  @include balance;

  a {
    border-bottom-width: 0px;
  }

  h1 a:hover {
    border-bottom-width: 1px;
  }

  .primary {
    a {
      font-family: $text-font-family;
    }

    a:hover {
      border-bottom-width: 0px;
    }
  }

  .secondary {
    position: absolute;
    right: -100px;
    top: $rhythm;

    @include apply-when-narrow {
      right: 0;
    }

    a {
      font-size: 28px;
      line-height: fix($rhythm, 8);
      font-weight: $thin-font-weight;
    }

    a:hover {
      border-bottom-width: 1px;
    }
  }

  .primary, .secondary {
    text-transform: lowercase;
  }
}

@include apply-when-tall {
  #menu-placeholder.active {
    display: block;
  }

  article #menu.compressed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;

    h1 {
      font-size: 40px;
      line-height: $double-rhythm;

      padding-top: fix($half-rhythm, -3);
      padding-bottom: fix($half-rhythm, 3);

      em {
        margin-left: 0;
      }
    }

    #totop {
      display: block;

      @include apply-when-narrow {
        left: -50px;
      }
    }

    .secondary {
      top: fix($rhythm, -3);

      li {
        display: inline;
        margin-left: 1em;
      }

      li:first-of-type {
        display: none;
      }
    }
  }
}

//
// Sections
//
article section {
  @include balance;
  margin-bottom: 4 * $rhythm;

  &:first-of-type {
    margin-top: 3 * $rhythm;
  }

  h2 {
    font-size: 70px;
    line-height: 6 * $half-rhythm;
    text-align: center;

    margin-top: 5 * $half-rhythm;
    margin-bottom: $half-rhythm;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p, ul {
    margin-bottom: $rhythm;
    @include hyphenation;

    em {
      font-style: italic;
    }

    strong {
      font-weight: $regular-font-weight;
    }
  }

  p + ul {
    margin-top: -$half-rhythm;
  }

  li {
    font-size: 24px;
    line-height: $rhythm;
    font-weight: $light-font-weight;
    margin-left: 2em;
    list-style-type: square;
    list-style-position: outside;
  }
}

//
// Footer
//
footer {
  padding: $double-rhythm 0 $rhythm 0;

  p {
    font-weight: $thin-font-weight;
  }

  a {
    border-bottom-width: 0px;
  }

  a:hover {
    border-bottom-width: 1px;
  }

  .wrapper {
    @include balance;
  }

  #address {
    position: relative;

    address:first-of-type {
      margin-left: $double-rhythm;
      margin-top: $double-rhythm;
      padding-bottom: $half-rhythm;
    }

    address:last-of-type {
      position: absolute;
      right: $double-rhythm;
      top: 0;
    }
  }

  #copyright {
    text-align: center;
  }
}

//
// Forms
//
form {
  margin-top: $rhythm;
  @include hack {
    line-height: 0; // To eliminate extra space
  }

  input, textarea {
    margin: 0;
    padding: 0;
    display: inline;

    font-family: $text-font-family;
    font-weight: $light-font-weight;
    font-size: 24px;
    line-height: $rhythm;

    background: #fafafa;
    margin-bottom: $half-rhythm;

    width: 100%;
    border: 0;

    &:focus {
      outline: 0;
    }

    @include placeholder {
      font-style: italic;
      color: #ccc;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type=submit] {
    cursor: pointer;
    background: none;
    width: auto;
    margin-top: $rhythm;
    margin-right: 1em;
    @include hack {
      margin-bottom: -1px; // To keep the vertical rhythm
    }
  }
}

//
// Decorations
//
.inversed {
  color: #fff;
  background: #000;
}

.spectrum {
  @include spectrum;
  background-repeat: repeat;
  background-position: 0px 0px;
}

.inversed .spectrum {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dingbat {
  @include hack {
    line-height: 0; // To eliminate extra space
  }
  text-align: center;
  margin: $double-rhythm;
  svg {
    height: 3 * $rhythm;
    width: 3 * $rhythm;
  }
}

.inversed svg path {
  fill: #fff;
}

//
// Page-specific styles
//
article.home { @import 'home'; }
article.posts { @import 'posts'; }
article.ru { @import 'ru'; }
