%meta{ charset: 'utf-8' }

%meta{ name: 'description', content: page_description }
%meta{ name: 'keywords', content: page_keywords }

%meta{ property: 'og:url', content: t('url') }
%meta{ property: 'og:title', content: t('company') }
%meta{ property: 'og:type', content: 'website' }
%meta{ property: 'og:description', content: t('description') }

%meta{ name: 'viewport', content: 'width=device-width, height=device-height' }
%meta{ name: 'format-detection', content: 'telephone=no' }
%meta{ name: 'format-detection', content: 'address=no' }
